
@import '~sass/color.scss';

:global {
    .Radio {
        position: relative;
        display: inline-block;
        margin-right: 1.2em;
        padding-left: 26px;
        height: 34px;
        line-height: 34px;
        cursor: pointer;

        input {
            opacity: 0;
            width: 0;
            &:checked + .Radio-circle {
                .Radio-circle-full {
                    width: 16px;
                    height: 16px;
                    visibility: visible;
                    opacity: 1;
                }

                .Radio-circle-empty {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &:focus + .Radio-circle .Radio-circle-full {
                box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
            }

            &:disabled + .Radio-circle .Radio-circle-empty {
                border-color: #ddd;
            }
        }
    }

    .Radio-circle {
        position: absolute;
        left: 0;
        top: 0;
        height: 34px;
        width: 34px;
        margin-top: -1px;
        border-radius: 100%;
        overflow: hidden;

        > span {
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            transform: translate(-50%, -50%);
        }
    }

    .Radio-circle-empty {
        height: 14px;
        width: 14px;
        border: 2px solid $google;
        border-radius: 50%;
        z-index: 1;
        visibility: visible;
        opacity: 1;
        transition: .2s;
    }

    .Radio-circle-full {
        height: 14px;
        width: 14px;
        background: $google;
        border-radius: 50%;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: .2s;
    }

    .Radio--tab {
        position: relative;
        padding: 0;
        text-align: center;

        .Radio-circle {
            display: none;
        }

        .Radio-indicator {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            line-height: 3em;
            border-bottom: 3px solid transparent;
        }

        input:checked ~ .Radio-indicator {
            border-bottom-color: pink;
        }
    }

    .Radio--disabled {
        opacity: .65;
        pointer-events: none !important;
        cursor: not-allowed;
    }
}

