
@import '~sass/color.scss';

.container {
    height: 280px;
    width: 460px;
    display: inline-block;
    background-color: #fefefe;
    vertical-align: top;
}

.title {
    font-size: 16px;
     height: 40px;
    width: 460px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    background:url(/images/R-B.png) no-repeat 0px -2px;
}
.detail{
    height: 240px;
    padding:0 45px; 
    ul{
    	height: 220px;
    	overflow-y: auto;
    	li{
    		width: 300px;
    	}
    }
}
